
body {
    background-color: var(--neutral-black);
    color: var(--neutral-200);
    font-family: var(--ff-space-grotesk);
    font:var(--font-4);
    letter-spacing: var(--ls-4);

   


}

.container{
    max-width: 1200px;
    margin:0 auto;
}


.hero__section{
    

}
.image__hero--picture img{
   
    width: 100%;
  max-width: 174px;
  max-height: 383px;
  height: auto;
}
.hero__header{
    display:flex;
    flex-direction: column;
    gap: 2rem;
    position:relative;
        


    .pattern__circle{
        position:absolute;
    inset: 0; /* ocupa todo el hero */
    pointer-events: none; /* que no interfiera con clicks */
    z-index: -1;

    
    .circle{
        position:absolute;
        width: clamp(8rem, 8vw, 12rem);
       bottom: 370px;
       right: -60px;

       }
    }
    .pattern__rings{
         position:absolute;
         inset: 0; 
         pointer-events: none; 
          z-index: 1;

        .rings{
            position:absolute;
            width: clamp(24rem, 40vw, 45rem);
        top: 250px;
        left: -140px;
        }
      }
    }

   


.wrapper__hero-content{
    display:flex;
    flex-direction: column;
    gap: 2rem;
    align-items:center;
}

.info__hero{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:2em;
    gap: 2rem;

    .title__hero{
        font: var(--font-1);
        letter-spacing: var(--ls-1);
       text-align:center;
    }
    .hero_text{
        font: var(--font-4);
        letter-spacing: var(--ls-4);
        text-align:center;
        animation-duration:2s;
        animation-name:slide-in;
        animation-iteration-count:1;
        animation-timing-function: ease-in-out;
    }
    @keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
}
.highlight{
    color: var(--neutral-200);
    position:relative;
    display:inline-block;

}

.highlight::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.5rem;
    background-color: var(--active);
    z-index: -1;
}

// =================================navigation=========================
// ====================================================================

.navigation__nav{
        display:flex;
        flex-direction:column;
        gap: 2rem;
        align-items: center;

        .navigation__nav--logo{

            .navigation__nav--link{
                    transition: background-color 1s ease-out 0.25s;
                    font:var(--font-4);
                    letter-spacing: var(--ls-4);
                    cursor:pointer;

                &:hover{
                    background-color: var(--active);
                }
            }
        }

    .navigation__nav--list{
            display:flex;
            gap: 2rem;

         .navigation__nav--list-item{
         list-style:none;
        }

            .navigation__nav--list-link a{
                 transition: background-color 1s ease-out 0.25s;
                
                text-decoration:none;

                &:hover{
                    background-color: var(--active);
                }
            }
        }
}
