
@media only screen and (min-width: 710px) {


.wrapper__hero-content {
  display:grid;
  grid-template-columns: 1fr auto;
    grid-template-areas: "text image";
   align-items: center;
    gap: var(--space-4);
}

.image__hero{
    grid-area:image;
    justify-self:end;
   
    top: -90px;
    

   
   

    .image__hero--picture img {
     width: 322px;
    height: auto;
    max-height:none;
    max-width:none;

     position: relative;
     z-index: -1;
   
   
    

}
}
.info__hero{
    grid-area:text;
    gap: var(--space-6);

    .hero_text{
        text-align: left;
    }
    .title__hero{
        text-align: left;
    }
    .button{
        align-self: start;
    }
}

.navigation__nav{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
        
  .navigation__nav--list{
    display:flex;
    justify-content: flex-end;
    gap: var(--space-4);

  }
 }

//  stylign the experience __tools
.wrapper__tools--text{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-4);
     margin-top: var(--space-6);

    .tools__title{
        text-align: left;
}

}

// styling the experience__projects
.projects__content{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-4);
     margin-top: var(--space-6);


            
        }
    }
@media only screen and (min-width: 1024px) {


.image__hero{
   
   
    .image__hero--picture img {
     width: 422px;
    height: auto;
    max-height:none;
    max-width:none;
 
}
}
.contact__form{
    display:grid;
    margin-top:var(--space-6);

    grid-template-columns: 1fr 1fr;
    gap: var(--space-4);

    .contact__title{
        text-align: left;
    }
    .contact__description{
        text-align: left;
    }
}

}
 @media only screen and (min-width: 1200px) {



    .pattern__rings{
  .rings {
    left: -460px;
  }
}

 }

